<header>
  <h1>Chat Message</h1>
</header>

<table class="chattable">
  <tr>
    <th class="members">
      <div>
        <h2>Members Online</h2>
      </div>
      <ul>
        <li *ngFor="let user of users" class="cardMember">
          <span>{{user.payload}}</span>
        </li>
      </ul>
    </th>
    <th class="message">
      <div style="height: 500px; overflow: auto;">
        <div class="container" *ngFor="let message of messages">
         <div class="likeb" style="text-align: left;">
          <input #idmessage type="text" style="display: none;" value="{{message.id}}">
           <button (click)="likedmessage(idmessage)" class="like-button {{message.like}}"></button>
         </div>
          <p>{{message.payload}}</p>
          <span class="time-right">{{message.hour}}</span>
        </div>
      </div>

      <!-- <div class="container darker">
        <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
      </div> -->

    </th>
  </tr>
  <tr class="send">
    <th></th>
    <th class="buttonsend">
      <div style="display: inline-flex; height: auto;">
        <div> <input #message type="text"></div>
        <button (click)="addChat(message)">Send</button>
      </div>
    </th>
  </tr>
</table>