<header>
  <h1>Chat Message</h1>
</header>

<table class="chattable">
  <tr>
    <th class="members">
      <div>
        <h2>Members</h2>
      </div>
      <ul>
        <li *ngFor="let user of users" class="cardMember">
          <span>{{user}}</span>
          <span>Name</span>
        </li>
      </ul>
    </th>
    <th class="message">
      <div style="height: 500px; overflow: auto;">
        <div class="container" *ngFor="let message of messages">
          <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
          <p>{{message}}</p>
          <span class="time-right">11:00</span>
        </div>
      </div>

      <!-- <div class="container darker">
        <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
      </div> -->

    </th>
  </tr>
  <tr class="send">
    <th></th>
    <th class="buttonsend">
      <div style="display: inline-flex; height: auto;">
        <div> <input #message type="text"></div>
        <button (click)="addChat(message)">Send</button>
      </div>
    </th>
  </tr>
</table>